<div class="row my-2">
    <div class="col-4 col-md-3 col-lg-2 div-item"></div>
    <div class="col-md-3 col-lg-4 align-middle item-label text-center d-none d-md-block" style="margin-top: 32px"></div>
    <div class="col-4 col-md-3 item-required">
        <input class="form-control active" type="number" readonly>
        <label>Required</label>
    </div>
    <div class="col-4 col-md-3 item-have">
        <input class="form-control active" type="number">
        <label>Have</label>
    </div>
</div>