<div class="row my-2">
    <div class="col-4 col-md-3 div-item"></div>
    <div class="col-8 col-md-5 align-middle item-label text-center" style="margin-top: 32px"></div>
    <div class="col-6 col-md-2 item-required form-outline">
        <input id="test" class="form-control" type="number" readonly>
        <label for="test" class="form-label">Required</label>
    </div>
    <div class="col-6 col-md-2 item-have form-outline">
        <input id="test" class="form-control" type="number">
        <label for="test" class="form-label">Have</label>
    </div>
</div>