#content {
    margin-top: 80px;
    margin-bottom: 22px;
}

.element {
    width: 36px;
    height: 36px;
}

.item {
    width: 40px;
    height: 40px;
}

.item-char, .item-item {
    width: 80px;
    height: 80px;
}

.item-required, .item-have {
    margin-top: 22px;
}

.item-list-15 {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.vertical {
    border-left: 2px solid black;
    margin: 0 8px;
    height: 32px;
}

@media (max-width: 1360px) {
    .item-list-15 {
        grid-template-columns: repeat(10, 1fr);
    }
}

@media (max-width: 992px) {
    #content {
        margin-top: 67px;
        margin-bottom: 9px;
    }

    .p-lg-6 {
        padding: 4.5rem !important
    }

    .item-list-15 {
        grid-template-columns: repeat(8, 1fr);
    }

    .item-item {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 772px) {
    .item-list-15 {
        grid-template-columns: repeat(4, 1fr);
    }

    .item-item {
        width: 45px;
        height: 45px;
    }
}