$arrow-color: #3d5e96;
$selected: #313131;
$bg: #242424;

.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
    border-radius: 50px;
    border: 1px solid #bdbdbd;
}

.custom-select {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
}

.custom-select__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    border-radius: 50px;
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #394a6d;
    background: $bg;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}

.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s;
}

.custom-option:hover {
    cursor: pointer;
    background-color: #2A2A2AFF;
}

.custom-option.selected {
    background-color: $selected;
}

.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}

.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}

.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: $arrow-color;
}

.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: $arrow-color;
}

.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}

.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}
